{% extends '::public.html.twig' %}
{% block title %}Carrito{% endblock %}
{% block id %}carrito{% endblock %}
{% block carrito %}active{% endblock %}
{% block fullcontenido %}
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Cliente</a></li>
                    <li class="active">Carrito de Compras</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Producto</td>
                        <td class="description"></td>
                        <td class="price">Precio</td>
                        <td class="quantity">Cantidad</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                        {% set total=0 %}
                        {% for producto in productos %}
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="{{ asset(producto.producto.imagen != null ? 'uploads/images/productos/'~producto.producto.imagen : 'uploads/images/productos/img-default.png') }}" alt="" class="img-resposive" style="width:110px; height:110px;"></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">{{ producto.producto.nombre }}</a></h4>
                                <p>Web ID: <span>{{ producto.producto.id }}</span></p>
                            </td>
                            <td class="cart_price">
                                <p>$<span id="precio{{ producto.id }}">{{ producto.producto.precioUnitario | number_format(2,'.',',') }}</span></p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <input type="text" id="index" value="{{ producto.id }}" hidden>
                                    {# <a class="cart_quantity_up" href="#" id="car-mas"> + </a> #}
                                    <input class="cart_quantity_input" id="car-input{{ producto.id }}" type="number" value="{{ producto.cantidad }}" autocomplete="off" size="2" min="1">
                                    {# <a class="cart_quantity_down" href="#" id="car-menos"> - </a> #}
                                </div>
                            </td>
                            {% set tProducto= producto.producto.precioUnitario * producto.cantidad %}
                            <td class="cart_total">
                                <p class="cart_total_price">$<span id="car-total{{ producto.id }}">{{ tProducto | number_format(2,'.',',') }}</span></p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href="{{ path('remove_carrito', { 'producto':producto.id }) }}"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        {% set total= total + tProducto %}
                        {% else %}
                        <tr>
                            <td colspan="5" align="center"><h4>No hay articulos en el carrito.</h4></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

    <section id="do_action">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>What would you like to do next?</h3>
                    <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
                </div>
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>Sub Total <span>${{ total | number_format(2,'.',',') }}</span></li>
                            {#<li>Eco Tax <span>$2</span></li>
                            <li>Costo de envio <span>Free</span></li>#}
                            <li>Total <span>${{ total | number_format(2,'.',',') }}</span></li>
                        </ul>
                        <a class="btn btn-default update" href="#">Actualizar</a>
                        <a class="btn btn-default check_out" href="#">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#do_action-->

{% endblock %}