{% extends '::public.html.twig' %}
{% block title %}Cuenta{% endblock %}
{% block id %}cuenta{% endblock %}
{% block cuenta %}active{% endblock %}
{% block fullcontenido %}
    <section>
        <div class="container">
            <div class="step-one">
                <h2 class="heading">Perfil de admin <span></span></h2>
            </div>

            <div class="shopper-informations">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="shopper-info">
                            <p>Informacion de Usuario</p>
                            <label for="">Nombre(s):</label>
                            <input type="text" value="{{ app.user.nombre }}" disabled/>
                            <label for="">Apellidos:</label>
                            <input type="text" value="{{ app.user.apellidopaterno~' '~app.user.apellidomaterno }}" disabled/>
                            <label for="">Curp:</label>
                            <input type="text" value="{{ app.user.curp }}" disabled/>
                            <label for="">Email:</label>
                            <input type="text" value="{{ app.user.email }}" disabled/>
                            <label for="">Fecha de Nacimiento:</label>
                            <input type="text" value="{{ app.user.fechanacimiento |date('d/m/Y') }}" disabled/>
                        </div>
                    </div>
                    <div class="col-sm-5 clearfix">
                        <div class="bill-to">
                            <p>Direccion</p>
                            <div class="perfil-one">
                                <input type="text" value="Calle: {{ app.user.direccion.calle }}" disabled/>
                                <input type="text" value="#ext. {{ app.user.direccion.numeroExterior }}" disabled/>
                                <input type="text" value="#int. {{ app.user.direccion.numeroInterior }}" disabled/>
                                <input type="text" value="Col: {{ app.user.direccion.colonia.nombre }}" disabled/>
                                <input type="text" value="cp. {{ app.user.direccion.colonia.codigoPostal }}" disabled/>
                                <a class="btn btn-default update" href="{{ path('modificar_cliente') }}">Modificar Información</a>
                                {#<a class="btn btn-default update" href="#">Modificar Contraseña</a>#}
                            </div>
                            <div class="perfil-two">
                                <input type="text" value="Edo: {{ app.user.direccion.estado }}" disabled/>
                                <input type="text" value="Mexico" disabled/>
                                <input type="text" value="Tel. {{ app.user.telefono }}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="shopper-info">
                            <p>Saldo</p>
                            <input type="text" value="${{ app.user.saldo | number_format(2,'.',',') }}" disabled/>
                            <p>Status</p>
                            {% if app.user.status %}
                            <input type="text" value="Activo" disabled/>
                            {% else %}
                            <input type="text" value="Inactivo" disabled/>
                            {% endif %}
                            {#<label><input type="checkbox"> Shipping to bill address</label>#}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="shopper-info">
                            <br>
                            <p>Tus pedidos</p>
                            {% if fechas is defined %}
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Pedido</th>
                                            <th>Fecha de Creacion</th>
                                            <th>Fecha de Entrega</th>
                                            <th>Hora de Entrega</th>
                                            <th>Ruta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for fecha in fechas %}
                                        <tr>
                                            <td>{{ fecha.pedido }}</td>
                                            <td>{{ fecha.pedido.fechaCreacion | date('d/M/Y') }}</td>
                                            <td>{{ fecha.fecha | date('d/M/Y') }}</td>
                                            <td>{{ fecha.hora | date('H:m') }} hrs.</td>
                                            <td>{{ fecha.ruta }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">Tus Pedidos estan en proceso de Autorizacion</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                            <p>No tienes pedidos</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}