{% extends '::public.html.twig' %}
{% block title %}Registrate{% endblock %}
{% block id %}registro{% endblock %}
{% block registro %}active{% endblock %}
{% block fullcontenido %}
    <section>
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Registro</li>
                </ol>
            </div><!--/breadcrums-->
        </div>
    </section>
    <section id="form"><!--form-->
        <div class="container signup-form">
            <h2>Usuario Nuevo ¡Registrate!</h2>
            <div class="alert alert-danger">
            	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            	<strong>Error!</strong> {{ form_errors(cliente)|striptags }}
            </div>
            <form action="{{ path('cliente_regsitro') }}" method="post">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label for="">Datos Personales</label>
                        {{ form_widget(cliente.nombre, {'attr':{
                            'placeholder':'Nombre(s)'
                        }}) }}
                        {{ form_widget(cliente.apellidoPaterno, {'attr':{
                            'placeholder':'Apellido Paterno'
                        }}) }}
                        {{ form_widget(cliente.apellidoMaterno, {'attr':{
                        'placeholder':'Apellido Materno'
                        }}) }}
                        {{ form_widget(cliente.email, {'attr':{
                        'placeholder':'Email'
                        }}) }}
                        {{ form_widget(cliente.password.first,{ 'attr': {
                        'placeholder' : 'Contraseña'
                        } }) }}
                        {{ form_widget(cliente.password.second,{ 'attr': {
                        'placeholder' : 'Repetir Contraseña'
                        } }) }}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label for="">Fecha de Nacimiento</label>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                {{ form_widget(cliente.fechaNacimiento.day) }}
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                {{ form_widget(cliente.fechaNacimiento.month) }}
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                {{ form_widget(cliente.fechaNacimiento.year) }}
                            </div>
                        </div>
                        {{ form_widget(cliente.curp, {'attr':{
                        'placeholder':'CURP'
                        }}) }}
                        {{ form_widget(cliente.telefono, {'attr':{
                        'placeholder':'Telefono'
                        }}) }}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label for="">Dirección</label>
                        {{ form_widget(direccion.estado) }}
                        {{ form_widget(direccion.colonia) }}
                        {{ form_widget(direccion.calle, {'attr':{
                        'placeholder':'Calle'
                        }}) }}
                        {{ form_widget(direccion.numeroExterior, {'attr':{
                        'placeholder':'Numero Exterior'
                        }}) }}
                        {{ form_widget(direccion.numeroInterior, {'attr':{
                        'placeholder':'Numero Interior'
                        }}) }}
                    </div>
                </div>
                {{ form_rest(cliente) }}
                {{ form_rest(direccion) }}
                <button type="submit" class="btn btn-default">Registrar</button>
            </form>
        </div>
    </section><!--/form-->
{% endblock %}