{% extends '::admin.html.twig' %}
{% block contenido %}
        <div class="block">
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">Lista de Tipos de Unidades para los Productos</div>
                    <h5 class="text-right"><a href="{{ path('backend_tipounidad_crear') }}">Agregar un Tipo</a></h5>
                </div>
            </div>

            <div class="block-content collapse in">
                <table class="stripe" id="table-index">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descripcion</th>
                        <th>Simbolo</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    {% for tipounidad in tipounidades %}
                        <tr>
                            <td>{{ tipounidad.id }}</td>
                            <td>{{ tipounidad.descripcion }}</td>
                            <td>{{ tipounidad.simbolo }}</td>
                            <td>
                                <ul>
                                    <li><a href="{{ path('backend_tipounidad_actualizar',{'id':tipounidad.id}) }}">Modificar</a></li>
                                    <li><a href="{{ path('backend_tipounidad_borrar',{'id':tipounidad.id}) }}">Eliminar</a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}