{% extends '::public.html.twig' %}
{% block title %}Carrito{% endblock %}
{% block id %}carrito{% endblock %}
{% block carrito %}active{% endblock %}
{% block fullcontenido %}
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Cliente</a></li>
                    <li class="active">Carrito de Compras</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Producto</td>
                        <td class="description"></td>
                        <td class="price">Precio</td>
                        <td class="quantity">Cantidad</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% set tiene = true %}
                    {% for item in cart.Items %}
                        {% set producto= item.Producto %}
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="{{ asset(producto.imagen != null ? 'uploads/images/productos/'~producto.imagen : 'uploads/images/productos/img-default.png') }}" alt="" class="img-resposive" style="width:110px; height:110px;"></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">{{ producto.nombre }}</a></h4>
                                <p>Web ID: <span>{{ producto.id }}</span></p>
                            </td>
                            <td class="cart_price">
                                <p>$<span>{{ item.UnitPrice | number_format(2,'.',',') }}</span></p>
                            </td>
                            <td class="cart_quantity">
                                {% for p in form.items %}
                                    {% if loop.index == loop.parent.loop.index %}
                                        {{ form_widget(p.quantity, { 'attr':{
                                            'class' : 'cart_quantity_input',
                                            'form' : 'formulario'
                                            }}) 
                                        }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">$<span>{{ item.total | number_format(2,'.',',') }}</span></p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href="{{ path('sylius_cart_item_remove', {'id': item.id}) }}"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>                        
                    {% else %}
                        <tr>
                            <td colspan="5" align="center"><h4>No hay articulos en el carrito.</h4></td>
                            {% set tiene = false %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

    <section id="do_action">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    {% if not app.user.status %}
                    <h3>Recuerde que!!!</h3>
                    <p>Para generar algún pedido tiene que esperar a que la empresa lo autorice.</p>
                    <p>Le llegara un mensaje a su perfil cuado sea autorizado para realizar pedidos.</p>
                    {% else %}
                    <h3>Tips</h3>
                    <p>Para que pueda ver el total de todos su productos agregados utilice el boton "actualizar".</p>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>Sub Total <span>${{ cart.total | number_format(2,'.',',') }}</span></li>
                            {#<li>Eco Tax <span>$2</span></li>
                            <li>Costo de envio <span>Free</span></li>#}
                            <li>Total <span>${{ cart.total | number_format(2,'.',',') }}</span></li>
                        </ul>
                        <form id="formulario" action="{{ path('sylius_cart_save') }}" method="post">
                            {{ form_rest(form) }}
                        </form>
                        <input type="submit" value="Actualizar" class="btn btn-default update" form="formulario" >
                        {% if app.user.status and tiene %}
                        <a class="btn btn-default check_out" href="{{ path('pedido') }}">Generar Pedido</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#do_action-->

{% endblock %}