{% extends '::admin.html.twig' %}
{% block contenido %}
    {% if accion=='editar' %}
        editar {{ proveedor.nombre }}
    {% endif %}
    <form action="{{ accion == 'crear' ? path('proveedor_registro') : path('editar_proveedor', {'id':proveedor.id}) }}" method="post">
        {{ form_widget(formproveedor) }}
        {{ form_widget(formdireccion) }}
        <input type="submit" name="" value="{{ accion == 'crear' ? 'Registrar' : 'Modificar' }}">
    </form>
{% endblock %}