{% extends '::base.html.twig' %}
{% block title %}Administracion{% endblock %}
{% block linkhead %}
    <link href="{{ asset('admin/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('admin/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('admin/vendors/easypiechart/jquery.easy-pie-chart.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('admin/assets/styles.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('admin/vendors/data-table/jquery.dataTables.min.css') }}" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
    <script src="{{ asset('admin/vendors/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    {% block individual %}{% endblock %}
{% endblock %}
{% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ path('admin') }}">Panel del Administrador</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLEADO') %}
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i>
                                {% if is_granted('ROLE_ADMIN') %}
                                    Administrador - {{ app.user }}
                                {% else %}
                                    Empleado - {{ app.user }}
                                {% endif %}
                                <i class="caret"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('usuario_show',{'id':app.user.id}) }}">Perfil</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a tabindex="-1" href="{{ path('usuario_edit',{'id':app.user.id}) }}">Modificar Informacion</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a tabindex="-1" href="{{ path('usuario_logout') }}">Cerrar Sesion</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    {% for mensajes in app.session.flashbag.get('info') %}
        <div class="container">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>{{ mensajes }}</p>
            </div>
        </div>
    {% endfor %}
    {% block fullcontenido %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2" id="sidebar">
                <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                    {#<i class="icon-chevron-right"></i>#}
                    <li><a href="{{ path('admin') }}"><i class="icon-home"></i> Inicio</a></li>
                    <div class="accordion" id="leftMenu">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#colProveedores">
                                    <i class="icon-user"></i> Proveedores
                                </a>
                            </div>
                            <div id="colProveedores" class="accordion-body collapse" style="height: 0px; ">
                                <div class="accordion-inner">
                                    <ul>
                                        <li><a href="{{ path('proveedor') }}"><i class="icon-user"></i> Lista de Proveedores</a></li>
                                        <li><a href="{{ path('proveedor_registro') }}"><i class="icon-user"></i> Nuevo proveedor</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#colCompras">
                                    <i class="icon-shopping-cart"></i> Compras a Proveedor
                                </a>
                            </div>
                            <div id="colCompras" class="accordion-body collapse" >
                                <div class="accordion-inner">
                                    <ul>
                                        <li><a href="{{ path('lista_compras') }}"><i class="icon-shopping-cart"></i> Lista de Compras</a></li>
                                        <li><a href="{{ path('nueva_compra') }}"><i class="icon-shopping-cart"></i> Nueva Compra</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#colPedidos">
                                    <i class="icon-star"></i> Pedidos
                                </a>
                            </div>
                            <div id="colPedidos" class="accordion-body collapse" >
                                <div class="accordion-inner">
                                    <ul>
                                        <li><a href="{{ path('lista_pedidos') }}"><i class="icon-star"></i> Lista de Pedidos</a></li>
                                        <li><a href="{{ path('fechapedidos') }}"><i class="icon-star"></i> Fecha de los Pedidos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#colProductos">
                                    <i class="icon-gift"></i> Productos
                                </a>
                            </div>
                            <div id="colProductos" class="accordion-body collapse" >
                                <div class="accordion-inner">
                                    <ul>
                                        <li><a href="{{ path('producto') }}"><i class="icon-gift"></i> Lista de Productos</a></li>
                                        <li><a href="{{ path('producto_registro') }}"><i class="icon-gift"></i> Nuevo Producto</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#colCliente">
                                    <i class="icon-user"></i> Clientes
                                </a>
                            </div>
                            <div id="colCliente" class="accordion-body collapse" style="height: 0px; ">
                                <div class="accordion-inner">
                                    <ul>
                                        <li><a href="{{ path('cliente') }}"><i class="icon-user"></i> Lista de Clientes</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#colEmpleados">
                                    <i class="icon-user"></i> Usuarios
                                </a>
                            </div>
                            <div id="colEmpleados" class="accordion-body collapse" >
                                <div class="accordion-inner">
                                    <ul>
                                        <li><a href="{{ path('usuario') }}"><i class="icon-user"></i> Lista de Usuarios</a></li>
                                        <li><a href="{{ path('usuario_registro') }}"><i class="icon-user"></i> Nuevo Usuario</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#colCatalogos">
                                    <i class="icon-folder-open"></i> Catalogos
                                </a>
                            </div>
                            <div id="colCatalogos" class="accordion-body collapse" >
                                <div class="accordion-inner">
                                    <ul>
                                        <li><a href="{{ path('tipoProducto') }}"><i class="icon-folder-open"></i> Tipos de Productos</a></li>
                                        <li><a href="{{ path('backend_tipounidad') }}"><i class="icon-folder-open"></i> Tipos de Unidades</a></li>
                                        <li><a href="{{ path('tipoproveedor') }}"><i class="icon-folder-open"></i> Tipos de Proveedores</a></li>
                                        <li><a href="{{ path('colonia') }}"><i class="icon-folder-open"></i> Colonias</a></li>
                                        <li><a href="{{ path('estado') }}"><i class="icon-folder-open"></i> Estados</a></li>
                                        <li><a href="{{ path('confgral') }}"><i class="icon-folder-open"></i> Configuraciones Generales</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#colMapa">
                                    <i class="icon-globe"></i> Mapa
                                </a>
                            </div>
                            <div id="colMapa" class="accordion-body collapse" >
                                <div class="accordion-inner">
                                    <ul>
                                        <li><a href="{{ path('mapa') }}"><i class="icon-globe"></i> Mapa</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#colEst">
                                    <i class="icon-signal"></i> Estadisticas
                                </a>
                            </div>
                            <div id="colEst" class="accordion-body collapse" >
                                <div class="accordion-inner">
                                    <ul>
                                        <li><a href="{{ path('estadisticas') }}"><i class="icon-signal"></i> Ver Estadisticas</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="span10" id="content">
                <div class="row-fluid">
                {% block contenido %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% endblock %}
{% block cfooter %}text-center{% endblock %}
{% block footer %}
{% endblock %}
{% block jsbody %}
    <script src="{{ asset('admin/vendors/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ asset('admin/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/easypiechart/jquery.easy-pie-chart.js') }}"></script>
    <script src="{{ asset('admin/assets/scripts.js') }}"></script>
    <script src="{{ asset('admin/vendors/data-table/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/data-table/tablestyles.js') }}"></script>
    {% block jsindi %}{% endblock %}
    <script>
        $(function() {
            // Easy pie charts
            $('.chart').easyPieChart({animate: 1000});
        });
    </script>
{% endblock %}