{% extends '::base.html.twig' %}
{% block title %}Administracion{% endblock %}
{% block linkhead %}
    <link href="{{ asset('css/normalize.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
{% endblock %}
{% block body %}
    <a href="{{ path('admin') }}">Inicio</a><br/>
      {% block contenido %}{% endblock %}
{% endblock %}
{% block cfooter %}text-center{% endblock %}
{% block footer %}
{% endblock %}
{% block jsbody %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}