{% extends '::base.html.twig' %}
{% block linkhead %}
    <link href="{{ asset('css/normalize.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('css/price-range.css') }}" rel="stylesheet">
    <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
    {#<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">#}
{% endblock %}
{% block jsbody %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ asset('js/price-range.js') }}"></script>
    <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
{% block body %}
    <header id="header"><!--header-->
        <div class="header_top"><!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-envelope"></i> SURTIWEB@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle"><!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="{{ path('portada') }}"><img src="{{ asset('images/home/logo.png') }}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">

                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                            {% if is_granted('ROLE_CLIENTE') %}
                                <li><a href="{{ path('perfil') }}" class="{% block cuenta '' %}"><i class="fa fa-user"></i> Cuenta: {{ app.user.nombre }}</a></li>
                                {% if app.user.status %}
                                <li><a href="{{ path('pedido') }}" class="{% block pedido '' %}"><i class="fa fa-truck"></i> Pedido</a></li>
                                {% endif %}
                                <li><a href="{{ path('sylius_cart_summary') }}" class="{% block carrito '' %}"><i class="fa fa-shopping-cart"></i> Carrito</a></li>
                                <li><a href="{{ path('cliente_logout') }}"><i class="fa fa-sign-out"></i> Salir</a></li>
                            {% else %}
                                <li><a href="{{ path('cliente_regsitro') }}" class="{% block registro '' %}"><i class="fa fa-plus"></i> Registrate</a></li>
                                <li><a href="{{ path('cliente_login') }}" class="{% block login '' %}"><i class="fa fa-sign-in"></i> Login</a></li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom"><!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="{{ path('portada') }}" class="{% block home '' %}">Home</a></li>
                                <li><a href="{{ path('productos', {'categoria':'todos'}) }}" class="{% block productos '' %}">Productos</a></li>
                                <li><a href="{{ path('contacto') }}" class="{% block contacto '' %}">¿Quienes Somos?</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        {% block buscar %}{% endblock %}
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->
    {% block slider %}{% endblock %}
    {% for mensajes in app.session.flashbag.get('info') %}
        <div class="container">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>{{ mensajes }}</p>
            </div>
        </div>
    {% endfor %}
    {% block fullcontenido %}
    <section>
        <div class="container">
            {% block migas %}{% endblock %}
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        {{ render(controller('ProductoBundle:Default:filtros')) }}
                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    {% block contenido %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
{% endblock %}
