{% extends '::admin.html.twig' %}
{% block contenido %}
    <div class="row-fluid">
        <div class="block">
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">Pedidos de los Clientes</div>
                </div>
            </div>
            <div class="block-content collapse in">
                <table class="stripe" id="table-index">
                    <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Fecha de Registro</th>
                        <th>Total del Pedido</th>
                        <th>Fecha de Entrega</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    {% for pedido in pedidos %}
                        <tr>
                            <td>{{ pedido.cliente }}</td>
                            <td>{{ pedido.fechaCreacion | date('d/m/Y h:m:s') }}</td>
                            <td>${{ pedido.costo }}</td>
                            <td>{% if pedido.fechaEntrega %}{{ pedido.fechaEntrega | date('d/m/Y') }}{% else %}No se ha autorizado este pedido <a href="{{ path('fechapedidos_new') }}">Agendar</a>{% endif %}</td>
                            <td><a href="{{ path('lista_detalles',{ 'id' : pedido.id }) }}">Detalles</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>
{% endblock %}