{% extends '::public.html.twig' %}
{% block title %}Detalle{% endblock %}
{% block id %}detalle{% endblock %}
{% block productos %}active{% endblock %}
{% block buscar %}
{% endblock %}
{% block migas %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="{{ path('portada') }}">Home</a></li>
            <li><a href="{{ path('productos') }}">Productos</a></li>
            <li class="active">Detalles</li>
        </ol>
    </div>
{% endblock %}
{% block contenido %}
    <div class="product-details"><!--product-details-->
        <div class="col-sm-6">
            <div class="view-product">
                <img src="{{ asset( producto.imagen != null ? 'uploads/images/productos/'~producto.imagen : 'uploads/images/productos/img-default.png' ) }}" alt=""/>
                <h3>ZOOM</h3>
            </div> <br><br>
        </div>
        <div class="col-sm-6">
            <div><!--/product-information-->
                <img src="{{ asset('images/product-details/new.jpg') }}" class="newarrival" alt="" />
                <br>
                <h3>{{ producto.nombre | upper}}</h3>
                <h4>{{ producto.descripcion }}</h4>
                <p>Web ID: {{ producto.id }}</p>
                <img src="{{ asset('images/product-details/rating.png') }}" alt="" /><br><br>
				<span>
                    <span class="precio">MX {{ producto.precioUnitario | number_format(2,'.',',') }}</span>
					<div class="cart_quantity_button">
                        {# <label>Cantidad:</label> #}
                        <a class="cart_quantity_up" href="#" id="mas"> + </a>
                        <input class="cart_quantity_input" type="text" value="1" autocomplete="off" size="2" id="cantidad">
                        <a class="cart_quantity_down" href="#" id="menos"> - </a>
                    </div>
				</span> <br><br>
                <a href="{{ path('sylius_cart_item_add', {'productoId': producto.id }) }}" class="btn btn-fefault cart" id="add-car">
                    <i class="fa fa-shopping-cart"></i> Agregar al carrito
                </a>
                
                <p><b>Disponible:</b> {{ producto.existencia }}</p>
                <p><b>Ranking:</b> {{ producto.ranking }}</p>
                <p><b>Marca:</b> E-SHOPPER</p>
                <a href=""><img src="{{ asset('images/product-details/share.png') }}" class="share img-responsive"  alt="" /></a>
            </div><!--/product-information-->
        </div>
    </div><!--/product-details-->
    <br/><br/>
{% endblock %}