{% extends '::public.html.twig' %}
{% block title %}Portada{% endblock %}
{% block id %}portada{% endblock %}
{% block home %}active{% endblock %}
{% block slider %}
    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>

                                    <h2>Free E-Commerce Template</h2>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                                <div class="col-sm-6">
                                    <img src="{{ asset('images/home/girl1.jpg') }}" class="girl img-responsive" alt=""/>
                                    <img src="{{ asset('images/home/pricing.png') }}" class="pricing" alt=""/>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>

                                    <h2>100% Responsive Design</h2>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. </p>
                                    <button type="button" class="btn btn-default get">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="{{ asset('images/home/girl2.jpg') }}" class="girl img-responsive" alt=""/>
                                    <img src="{{ asset('images/home/pricing.png') }}" class="pricing" alt=""/>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>

                                    <h2>Free Ecommerce Template</h2>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. </p>
                                    <button type="button" class="btn btn-default get">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="{{ asset('images/home/girl3.jpg') }}" class="girl img-responsive" alt=""/>
                                    <img src="{{ asset('images/home/pricing.png') }}" class="pricing" alt=""/>
                                </div>
                            </div>

                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->
{% endblock %}

{% block contenido %}
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">Productos Principales</h2>
        {% for producto in productos %}
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="{{ asset(producto.imagen != null ? 'uploads/images/productos/'~producto.imagen : 'uploads/images/productos/img-default.png') }}" alt=""/>

                            <h2>${{ producto.precioUnitario | number_format(2,'.',',') }}</h2>

                            <p>{{ producto.nombre }}</p>
                            {#<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carrito</a>#}
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <a href="{{ path('detalle', {'id' : producto.id}) }}" class="product-det">
                                    <p>{{ producto.nombre }}</p>
                                    <h2>Detalles...</h2>
                                </a>
                                <br/>
                                <a href="{{ path('sylius_cart_item_add', {'productoId': producto.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carrito</a>
                            </div>
                        </div>
                        {# if i % 2 %}
                            <img src="{{ asset('images/home/sale.png') }}" class="new" alt=""/>
                        {% else %}
                            <img src="{{ asset('images/home/new.png') }}" class="new" alt=""/>
                        {% endif #}
                    </div>
                </div>
            </div>
            {% else %}
            <h1>no hay productos</h1>
        {% endfor %}
    </div><!--features_items-->
{% endblock %}

