{% extends '::public.html.twig' %}
{% block title %}Productos{% endblock %}
{% block id %}productos{% endblock %}
{% block productos %}active{% endblock %}
{% block buscar %}
    <div class="search_box pull-right">
        <input type="text" placeholder="Buscar"/>
    </div>
{% endblock %}
{% block migas %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="{{ path('portada') }}">Home</a></li>
            <li class="active">Productos</li>
        </ol>
    </div>
{% endblock %}
{% block contenido %}
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">Productos</h2>
        {{ knp_pagination_render(pagination) }}<br/>
        {% for producto in pagination %}
            <div class="col-sm-4 alto-box">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="{{ asset(producto.imagen != null ? 'uploads/images/productos/'~producto.imagen : 'uploads/images/productos/img-default.png') }}" alt="{{ producto.descripcion }}" class="alto-imagen"/>

                            <h2>${{ producto.precioUnitario | number_format(2,'.',',') }}</h2>

                            <p>{{ producto.nombre }}</p>
                            {# <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carrito</a> #}
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <a href="{{ path('detalle', {'id' : producto.id}) }}" class="product-det">
                                    <p>{{ producto.nombre }}</p>
                                    <h2>Detalles...</h2>
                                </a>
                                <br/>
                                <a href="{{ path('sylius_cart_item_add', {'productoId': producto.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carrito</a>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        {% endfor %}
    </div><!--features_items-->
    <br/>
    {{ knp_pagination_render(pagination) }}

{% endblock %}