{% extends '::public.html.twig' %}
{% block title %}Productos{% endblock %}
{% block id %}productos{% endblock %}
{% block productos %}active{% endblock %}
{% block buscar %}
    <div class="search_box pull-right">
        <input type="text" placeholder="Buscar"/>
    </div>
{% endblock %}
{% block migas %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="{{ path('portada') }}">Home</a></li>
            <li class="active">Productos</li>
        </ol>
    </div>
{% endblock %}
{% block contenido %}
    <div class="features_items"><!--features_items-->
    <h2 class="title text-center">Productos</h2>
    {% for i in 1..12 %}
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="{{ asset('images/shop/product9.jpg') }}" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <a href="{{ path('detalle') }}">
                                <p>Easy Polo Black Edition</p>
                                <h2>$56</h2>
                            </a>
                            <br/>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carrito</a>
                        </div>
                    </div>
                    {% if i % 2 %}
                        <img src="{{ asset('images/home/sale.png') }}" class="new" alt=""/>
                    {% else %}
                        <img src="{{ asset('images/home/new.png') }}" class="new" alt=""/>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <ul class="pagination">
        <li class="active"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">&raquo;</a></li>
    </ul>
    </div><!--features_items-->
{% endblock %}